/*Theme toggle settings*/
:root {
    --primary: #DEDFDF;
    --text-primary: black;
    --button-text: black;
    --button-text-highlight: black;
    --button-icon: lightsteelblue;
    --button-highlight: #66a5e5;
}

/*Html on every page*/
html {
    background-color:  var(--primary);
    color: var(--text-primary);
}

/*Body on every page*/
body {
    padding: 10px;
    margin: 1px 1px 30px 1px;
    font-family: 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*h1 size for every page*/
h1 {
    font-size: 35px;
}

/*hr colour for every page*/
hr {
    border-color: var(--text-primary);
}

/*Theme toggle on every page*/
.theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1px;
    margin: 1px;
    height: 30px;
    width: 90px;
    background-color: var(--button-icon);
    user-select: none;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: var(--button-text);

    border-radius: 10%;
    /*Always have priority over stack order*/
    z-index: 1;
}

/*Theme toggle paragraphs*/
.theme-toggle p {
    font-weight: bold;
    text-align: center;
    padding: 1px;
    margin-top: 3px;
}

/*Outer menu frame on every page*/
.outer-menu {
    display: flex;
    gap: 30px;
}

/*Menu frame on every page*/
.menu-p {
    font-size: 24px;
    border: 3px solid var(--button-text);
    border-top: 0;
    border-radius: 10%;
    background-color: var(--button-icon);
    color: var(--button-text);
    text-decoration: none;
    transition: transform 0.3s ease;
}
/*Enlarge menu effects on mouse hover*/
.menu-p:hover {
    transform: scale(1.1);
}

/*Footer*/
footer {
    position: fixed;
    left: 0;
    width: 100%;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: darkgrey;

    margin-top: 3px;
    padding: 5px;
    bottom: 0;
    background-color: var(--button-icon);
}

/*Footer and children*/
footer * {
    display: inline;
    margin-left: 5px;
}

/*Footer anchor links*/
footer a {
    font-weight: bold;
    color: var(--button-text);
}

/*Footer images*/
footer img {
    height:25px;
    width: 25px;
}

/*Media Query to adjust content to web page size*/
@media (max-width: 600px) {

    footer {
        margin-top: 1px;
    }

    footer * {
        font-size: 13px;
    }

    footer img {
        height: 20px;
        width: 20px;
    }
}