/*Selected menu item*/
#current-menu-item {
    background-color: var(--button-highlight);
    border: 3px solid var(--button-text-highlight);
    color: var(--button-text-highlight);
}

/*Photograph of me*/
.image-me {
    height: 400px;
    width: 400px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;

}

/*Outer frame*/
.main-frame {
    font-size: 21px;
    display: flex;
    gap: 10px;
    width: 1300px;
}

/*Media Query to adjust content to web page size*/
@media (min-width: 850px) and (max-width: 1300px) {
    .main-frame {
        width: auto;
    }
}

/*Media Query to adjust content to web page size*/
@media (max-width: 849px) {
    .image-me {
        width: 250px;
        height: 250px;
    }

    .main-frame {
        display: inline;
        font-size: 18px;
    }
}