/*Selected menu item*/
#current-menu-item {
    background-color: var(--button-highlight);
    border: 3px solid var(--button-text-highlight);
    color: var(--button-text-highlight);
}

/*Outer frame of project cards*/
.project-grid {
    display: grid;
    flex-wrap: wrap;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    /*background-color: #2196F3;*/
    padding: 10px;
    gap: 50px;
}

/*Project card template*/
.project-box {
    flex: 2 1 10px;
    height: 450px;
    width: 300px;
    background-color: var(--button-icon);
    border-width: 4px 2px 2px 4px;
    border-style: solid;
    border-color: var(--button-text);

    border-radius: 5%;
    padding: 10px;
    font-size: 30px;
    transition: transform 0.2s ease;
}

/*Enlarge project card effects on mouse hover*/
.project-box:hover {
    transform: scale(1.02);
}

/*Project card image frame*/
.project-box-image {
    /*background-color: red;*/
    /*border: 1px solid black;*/
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Project card image*/
.project-box-image img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/*Project Card content*/
.project-box-main {
    position: relative;
    height: 200px;
    width: 100%;
    font-weight: bold;
}

/*Project Card all content size*/
.project-box-main * {
    font-size: 20px;
}

/*Project Card anchor link*/
.project-box-main a {
    float: right;
    font-weight: bold;
    color: var(--button-text)
}

/*Media Query to adjust content to web page size*/
@media (min-width: 650px) and (max-width: 1000px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Media Query to adjust content to web page size*/
@media (max-width: 649px) {
    .project-grid {
        gap: 10px;
        grid-template-rows: 400px;
        grid-template-columns: repeat(2, 250px);
    }

    .project-box {
        height: 350px;
        width: 200px;
        font-size: 20px;
    }

    .project-box-image {
        height: 150px;
        width: 200px;
    }

    .project-box-main * {
        font-size: 15px;
    }
}